<h3 class="title">帳號管理</h3>
<!--<form novalidate [formGroup]="editForm">
    <label for="creditLimit" class="control-label">信限比例(%)</label>
    <input type="number" class="k-textbox" formControlName="creditLimit" />
    <div class="k-tooltip k-tooltip-validation"
        [hidden]="editForm.controls.creditLimit.valid || editForm.controls.creditLimit.pristine">
        順序最小為 1
    </div>
</form>
<button kendoButton (click)="onSave()" [primary]="true">送出設定</button>-->