<div class="header" routerLink="/home">
    東元家電管理後臺 v1.0.0
    <button kendoButton class="logout" *ngIf="isLogin" (click)="logout()" [routerLink]="['/login']">登出</button>
    <div class="loginData" *ngIf="isLogin">Hi, {{loginData.username | nameFilter}}</div>
</div>
<kendo-splitter orientation="vertical" class="layout">
    <kendo-splitter-pane>
        <kendo-splitter>
            <kendo-splitter-pane size="15%" class="menu">
                <app-menu></app-menu>
            </kendo-splitter-pane>
            <kendo-splitter-pane class="content">
                <router-outlet></router-outlet>
            </kendo-splitter-pane>
        </kendo-splitter>
    </kendo-splitter-pane>
</kendo-splitter>
<div class="footer">
    Copyright © 2020 Tecogroup Inc.
</div>