<h3 class="title">商品清單上傳</h3>
<kendo-grid [kendoGridBinding]="notifications" [pageSize]="gridState.take" [skip]="gridState.skip"
    [sort]="gridState.sort" [pageable]="true" [resizable]="true" [sortable]="true"
    (dataStateChange)="onStateChange($event)" (remove)="removeHandler($event)" (edit)="editHandler($event)"
    (add)="addHandler()">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>上傳csv</button>
    </ng-template>
    <kendo-grid-column field="ID" title="序號" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="TYPENAME" title="產品名稱" width="20%">
    </kendo-grid-column>
    <kendo-grid-column field="REFRIGERANT" title="冷媒" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="POWER" title="冷暖氣能力" width="8%">
    </kendo-grid-column>
    <kendo-grid-column field="PRODUCTCODE" title="主機種" width="15%">
    </kendo-grid-column>
    <kendo-grid-column field="PRODUCTSIZE" title="主機種外型尺寸" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="RELATEDPRODUCTCODE" title="關聯性機種" width="15%">
    </kendo-grid-column>
    <kendo-grid-column field="RELATEDPRODUCTSIZE" title="關聯性機種外型尺寸" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="LIQUIDPIPINGSIZE" title="連接配管 液側" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="AIRPIPINGSIZE" title="連接配管 氣側" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="OUTDOORFEETSIZE" title="室外機安裝腳座孔尺寸" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="CUSTOMERTYPE" title="客戶出庫類型" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="TYPE" title="空調分類" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="GIVEAWAY" title="有無贈品" width="6%">
    </kendo-grid-column>
</kendo-grid>

<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>上傳csv</kendo-dialog-titlebar>
    <form novalidate [formGroup]="editForm">
        <!--<div *ngIf="isNew" class="form-group">
            <label for="Title" class="control-label">標題</label>
            <input type="text" class="k-textbox" formControlName="Title" />
        </div>-->
        <!--<div class="form-group">
            <label for="Message" class="control-label">內容</label>
            <textarea rows="4" cols="50" formControlName="Message"></textarea> {{editForm.value.Message.length}}
        </div>-->
        <!--<div class="form-group" *ngIf="isNew && editForm.value.pushType!='announcement'">
            <label for="Range" class="control-label">推播範圍</label>
            <label>
                <input type="radio" formControlName="Range" value="0">全部</label>
            <label>
                <input type="radio" formControlName="Range" value="1">名單</label>
            <input type="file" *ngIf="editForm.value.Range=='1'" (change)="onFileChange($event)"
                formControlName="ExcelFile"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>-->
        <div class="form-group">
            <label for="Range" class="control-label">檔案上傳</label>
            <input type="file" (change)="onFileChange($event)"
                formControlName="ExcelFile"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>
        <!--<div *ngIf="isNew" class="form-group">
            <label for="Way" class="control-label">推播方式</label>
            <label>
                <input type="radio" formControlName="Way" value="0">立即</label>
            <label>
                <input type="radio" formControlName="Way" value="1">預約</label>
            <kendo-datepicker *ngIf="editForm.value.Way=='1'" [format]="'yyyy-MM-dd'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-datepicker>
            <kendo-timepicker *ngIf="editForm.value.Way=='1'" [format]="'HH:mm'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-timepicker>
            <label>
                <input type="radio" (change)="pushTypeChange('announcement')" formControlName="pushType" value="announcement">不推播(純公告)</label>
        </div>-->
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="comfirm" (close)="closeComfirmForm()">
    <kendo-dialog-titlebar>提示</kendo-dialog-titlebar>
    <div>確定上傳檔案？</div>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onComfirmCancel($event)">取消</button>
        <button class="k-button k-primary" (click)="onComfirmSave($event)">確定</button>
    </kendo-dialog-actions>
</kendo-dialog>