<h3 class="title">下單信限限制設定</h3>
<form novalidate [formGroup]="editForm">
    <label for="Value" class="control-label">信限比例</label>
    <input type="number" class="k-textbox" formControlName="Value" />
    <div class="k-tooltip k-tooltip-validation"
        [hidden]="editForm.controls.Value.valid || editForm.controls.Value.pristine">
        信限比例格式錯誤
    </div>
</form>
<button kendoButton (click)="onSave($event)" [primary]="true">送出設定</button>